{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Fiche de paie{% endblock %}

{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Fiche de paie</h1>
<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="fw-bold text-primary">
                            <th scope="col">Id</th>
                            <th scope="col">Salaire brut</th>
                            <th scope="col">Salaire net</th>
                            <th scope="col">Matricule</th>
                        </tr>
                    </thead>
                    <tbody>

                        <p class="title">Email :{{ app.user.email }}</p>
                        {% if  app.user.roles[0] == "ROLE_GERANT" %}
                        <p class="title">Rôle : Gérant</p>
                        {% endif %}
                        {% if  app.user.roles[0] == "ROLE_DEV" %}
                        <p class="title">Rôle : Developeur</p>
                        {% endif %}
                        {% if  app.user.roles[0] == "ROLE_RESPONSABLE" %}
                        <p class="title">Rôle : Responsable</p>
                        {% endif %}
                        {% for fiche in ficheclient %}
                        <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                            {% if  app.user.roles[0] == "ROLE_GERANT" %}
                            <td>{{ personnes.nom | capitalize }}</td>
                            {% endif %}

                            <td>{{ fiche.salairebrut | capitalize }}</td>
                            <td>{{ fiche.salairenet | lower }}</td>
                            <td>{{ fiche.matricule | lower }}</td>
                        </tr>
                        {% endfor %}
                        {% for pers in personnes %}
                        <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                            {% if  app.user.roles[0] == "ROLE_GERANT" %}
                            <td>{{ pers.id | capitalize }}</td>
                            {% endif %}


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}