{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Fiche de paie{% endblock %}

{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Fiche de paie</h1>
<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="fw-bold text-primary">
                            <th scope="col">Nom</th>
                            <th scope="col">Id</th>
                            <th scope="col">Salaire brut</th>
                            <th scope="col">Salaire net</th>
                            <th scope="col">Matricule</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inscrit in inscrits %}
                        <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                            <td>{{ inscrit.nom | capitalize }}</td>
                        </tr>
                        {% endfor %}
                        {% for fiche in fichepaie %}
                        <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                            <td>{{ fiche.id | capitalize }}</td>
                            <td>{{ fiche.salairebrut | capitalize }}</td>
                            <td>{{ fiche.salairenet | lower }}</td>
                            <td>{{ fiche.matricule | lower }}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}